<div class="o-section-block--spaceBot show-for-large">
    <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
        <li class="c-widget-accordion-item is-active" data-accordion-item="">
            <a href="#intention-map-toc" class="c-widget-accordion-link">
                <span class="c-widget-accordion__title">Mapa pirátských plánů</span>
            </a>
            <div class="c-widget-accordion-content c-widget-accordion-content--nopad pce-im-teaser" data-tab-content="" id="intention-map-toc">
                {% asset 'miscellaneous/im-teaser-rectangle.jpg' magick:resize='342x342' class='pce-im-teaser__img' %}
                <div class="pce-im-teaser__cta">
                    <a href="{{ '/komunalni-volby-2018/mapa-piratskych-planu/' | relative_url }}" class="button large pce-im-teaser__link">Zobrazit mapu</a>
                </div>
            </div>
        </li>
    </ul>
</div>
