<h3 class="t-h5">Povolební strategie</h3>
<p>
    Přečtěte si, jak se zachováme po volbách. Nemusíte volit zajíce v pytli.<br>
    <a href="{{ '/komunalni-volby-2018/povolebni-strategie/' | relative_url }}" class="c-emphasized-anchor">Prohlédnout povolební strategii</a>
</p>
<h3 class="t-h5">Financování kampaně</h3>
<p>
    Transparentní financování kampaně je pro nás samozřejmost.<br>
    <a href="{{ '/komunalni-volby-2018/kampan-dary-prispevky/' | relative_url }}" class="c-emphasized-anchor">Prohlédnout financování kampaně</a>
</p>
