<div class="pce-im-teaser-big">
    <a href="/komunalni-volby-2018/mapa-piratskych-planu/" title="Interaktivní mapa pirátských plánů" class="pce-im-teaser-big__wrap" style="background: url({% asset 'miscellaneous/im-teaser-landscape.jpg' magick:resize='1122x' magick:crop='1122x300+0+0' magick:gravity='center' @path %}) center no-repeat;">
        <h1 class="pce-im-teaser-big__headline">
            <span class="pce-im-teaser-big__headline-caption">Interaktivní mapa pirátských plánů</span>
            <div href="{{ '/komunalni-volby-2018/mapa-piratskych-planu/' | relative_url }}" class="button pce-im-teaser-big__headline-button">Zobrazit</div>
        </h1>
    </a>
</div>