{% capture label %}
    {% if include.item.name %}{{ include.item.name }}{% else %}{{ include.item.title }}{% endif %}
{% endcapture %}
{% if include.item.url contains 'http' %}
    {% assign url = include.item.url %}
{% else %}
    {% assign url = include.item.url | relative_url %}
{% endif %}
<div class="o-media o-media--top">
    <a href="{{ url }}">
    <div class="o-media__image o-media__image--lgspace">
        {% asset '{{ include.item.img }}' magick:resize='165x220' alt='{{ label }}' %}
    </div>
    </a>
    <div class="o-media__body">
    <h2 class="o-media__headline">
        <a href="{{ url }}">{{ label }}</a>
    </h2>
    <p>
        {% if include.description %}
            {{ include.description }}
        {% else %}
            {{ include.item.description }}
        {% endif %}
    </p>
    {% if include.item.mob or include.item.mail %}
        <p>
        {% if include.item.mob %}<a href="tel:{{ include.item.mob }}">{{ include.item.mob }}</a><br>{% endif %}
        {% if include.item.mail %}<a href="mailto:{{ include.item.mail }}">{{ include.item.mail }}</a>{% endif %}
        </p>
    {% endif %}
    </div>
</div>