---
layout: page
title: O nás
img: brand/logo.svg
rbar:
---

<section class="o-section">
    <h2>Piráti v Pardubicích</h2>
    <p>Mnozí z vás si jistě všimli, že v Pardubicích zakotvila pirátská loď a nabírá posádku. Po úspěšných volbách do poslanecké sněmovny pociťují Piráti velký zájem ze strany veřejnosti. Rádi bychom tuto přízeň společnosti vrátili a v nadcházejících podzimních volbách vpluli do zastupitelstev měst a obvodů.</p>
    <p>Otevřenost je nejlepším lékem na korupci a plýtvání. To, že být transparentní, není nic těžkého, dokazujeme sami na sobě - už jen proto sami dobře víme, jak na to, a společně to dokážeme i Pardubicích.</p>
    <p>Chceme vědět, co vás pálí, a posouvat věci k lepšímu spolu s vámi. Máte-li zájem zapojit se do veřejného života, podílet se na našich akcích nebo jen být ve spojení s Piráty, budeme rádi, když nám o sobě <a href="/pripoj-se/">dáte vědět.</a><p>
</section>

<section class="o-section">
    <h2>Naši členové</h2>
	{% assign team = site.people | where_exp:"item","item.categories contains 'clen-pce'" %}
    {% include people/list-2col.html items=team %}
</section>

<section class="o-section">
    <h2>Naši příznivci</h2>
    {% assign team = site.people | where_exp:"item","item.categories contains 'priznivce-pce'" %}
    {% include people/list-2col.html items=team %}
</section>

{% comment %}
<div class="row o-section-block o-section-block--divided">
    <div class="medium-12 large-12 columns">
        <section class="o-section">
            <div class="o-section-inner">
                <main class="o-section-block">
                    <div class="c-BasicPage">
                        <div class="c-BasicPage-content">
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item is-active" data-accordion-item="">
                                    <a href="#pkspard" class="c-simple-accordion-title">Kandidáti do zastupitelstva města</a>
                                    <div id="pkspard" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp: "item","item.categories contains 'kandidat-pce-mesto'" %}
                                        {% include people/list-2col.html items=team %}
                                    </div>
                                </li>
                            </ul>
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#zastupitele" class="c-simple-accordion-title">Pardubičtí Piráti</a>
                                    <div id="zastupitele" class="c-simple-accordion-content" data-tab-content="">
                                        <div class="c-simple-accordion-content-block">
                                            {% assign team = site.people | where_exp:"item","item.categories contains 'clen-pce'" %}
                                            {% include people/list-2col.html items=team %}
					                        {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#senat" class="c-simple-accordion-title">Pardubičtí Příznivci</a>
                                    <div id="senat" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp:"item","item.categories contains 'priznivce-pce'" %}
                                        {% include people/list-2col.html items=team %}
					                    {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </section>
        <!-- /. o-section -->
    </div>
</div>
{% endcomment %}