.pagination {

  a {
    padding: $button-padding;
    color: $anchor-color;
  }

  .pagination-previous a,
  .pagination-next a {
    color: $button-color;
    background-color: $button-fill;
  }
}