$program-item-ns: '';

.#{$program-item-ns}c-program-items {
    display: flex;
    flex-wrap: wrap;
}

.#{$program-item-ns}c-program-item {
    display: flex;
    max-width: 33.33%;
    // padding-right: 1.25rem;
    // padding-bottom: 1.25rem;
}

.#{$program-item-ns}c-program-item-wrap {
    display: flex;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    color: $white;
    background-color: $secondary-color;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $primary-color;
    }
}

.#{$program-item-ns}c-program-item-inner {
    padding: 1.25rem;

    h4 {
        font-weight: bold;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

.#{$program-item-ns}c-program-candidate-badge {
    display: flex;
    margin-bottom: 20px;


    .#{$program-item-ns}c-program-candidate-badge__body {
        width: 100%;
        display: flex;

        .#{$program-item-ns}c-program-candidate-badge__name {
            font-size: 1.5rem;
        }
    }

    .#{$program-item-ns}c-program-candidate-badge__avatar {
        position: relative;
        margin-right: 20px;
        flex-shrink: 0;

        .#{$program-item-ns}c-program-candidate-badge__rank {
            display: block;
            position: absolute;
            right: 0;
            top: -5px; // ~ in-line with candidate name
            background-color: $primary-color;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            color: $white;

            span {
                // Compensate for the dot sign.
                padding-left: 3px;
            }
        }

        .#{$program-item-ns}c-program-candidate-badge__avatar-image {
            border-radius: 50%;
        }
    }

}
