---
title: A jak se můžeš zapojit?
layout: default
img: brand/logo.svg
---

<div class="c-BasicPage">
  <div class="c-BasicPage-content">

    <div class="row">
      <section class="o-section o-section--spaceBot">
        <div class="o-section-inner">
          <div class="o-section-block">
            <div class="column medium-12">
              <h2 itemprop="headline" class="c-BasicPage__title">Připoj se</h2>

              <div class="row">
                <div class="column medium-6">
                  <a href="{{ site.facebook.profilePage }}" class="button expanded large"><i class="fa fa-facebook-official" aria-hidden="true"></i> Sleduj nás na Facebooku</a>
                </div>
                <div class="column medium-6">
                  <a href="{{ site.forum.page }}" class="button expanded large"><i class="fa fa-comments-o"></i> Sleduj nás na fóru pardubického kraje</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 columns">
        <section class="o-section o-section">
          <div class="o-section-inner">
            <div class="o-section-block">
              <h2 itemprop="headline">Kontaktní osoba</h2>
              <div class="row">
                {% assign contactPersons = site.people | where_exp: "item","item.categories contains 'kontaktni_osoba'" | sort:"ordpak" %}
                <div class="large-6 small-12 columns end o-section-mediumdown-divided-small">
                  {% for person in contactPersons %}
                    {% capture desc %}{{ person.contactDescription | newline_to_br }}{% endcapture %}
                    {% include people/profile_badge.html item=person description=desc imgSize='big' %}
                  {% endfor %}
                </div>
                <div class="large-6 small-12 columns end o-section-mediumdown-divided-small">
                  <div class="o-media">
                    <div class="o-media__body">
                      <blockquote class="c-blockquote c-blockquote--wicon">
                        Rádi vyslechneme Vaše názory, pokud to bude možné, tak poradíme nebo pomůžeme či se do toho pustíme rovnou.
                        <p>Nicméně každá ruka se počítá,tak neváhej a přidej se!</p>
                        <cite>Zdeněk Kubala, 1. místopředseda KS Pardubický kraj</cite>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>
