---
layout: page
title: Komunální volby 2018
img: brand/logo.svg
rbar:
---

<div class="row">
    <blockquote class="c-blockquote c-blockquote--wicon">
        <p>Letošní volby jsou, nejen pro Piráty, důležitým milníkem. Letos se rozhodne, ponecháme-li tuto zemi tradičním a zpravidla zkorumpovaným partajím, vložíme-li ji do rukou všemožným populistickým hnutím, které si z politiky dělají bussines a které nezřídka kdy otevřeně opovrhují demokratickými tradicemi.i</p>
        <p> Anebo se rozhodneme pro skutečnou změnu a zvolíme stranu, která i když je zatím malá a pro mnohé má divné jméno, přináší do politiky zcela nové mechanismy, sama na sobě aplikuje pravidla otevřené a odpovědné politiky a ze svých zásad nesejde ani o kousek. Volit Piráty znamená volit rozumem. Zjistěte si víc a dejte nám šanci, my vás nezklameme</p>
        {% comment %}
                <p>Mikulas nebo Pavel sem neco reknou(nebo nekdo jiny)</p>
                <p>Pusťte nás na ně!</p>
        {% endcomment %}
        <cite>Pavel Štěpánek, předseda KS Pardubický kraj</cite>
    </blockquote>


    <div class="o-section">
        <div class="columns medium-9">
            <h2>Zastupitelstvo</h2>

            <div class="o-section o-section-block">
                <h3>Program</h3>
                <div class="c-program-items">
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Otevřenost a zpojení občanů</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Smart City</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Řízení a organizační struktura města</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Územní rozvoj</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Doprava</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Veřejný prostor a zeleň</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Vzdělávání</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-program-item">
                        <div class="c-program-item-wrap">
                            <div class="c-program-item-inner">
                                <a href="">
                                    <h3>Kultura a sport</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="o-section o-section-block">
                <h3>Kandidáti</h3>
                {% assign team = site.people | where_exp:"item","item.categories contains 'clen-pce'" %}
                {% for candidate in team %}
                    {% capture candidate_name %}
                        {% if candidate.name %}{{ candidate.name }}{% else %}{{ candidate.title }}{% endif %}
                    {% endcapture %}
                    <div class="c-program-candidate-badge">
                        <span class="c-program-candidate-badge--rank">{{ forloop.index }}.</span>
                        <div class="c-program-candidate-badge--body">
                            <a href="{{ candidate.url | relative_url }}">
                                {% asset '{{ candidate.img }}' magick:resize='120x120^' magick:gravity='center' magick:crop='120x120+0+0' alt='{{ candidate_name }}' %}
                            </a>
                            <div class="c-program-candidate-badge--description">
                                <h4><a href="{{ candidate.url | relative_url }}">{{ candidate_name }}</a></h4>
                                <p>{{ candidate.content | truncatewords: 30 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="columns medium-3">
            <h2>Obvody</h2>
            <ul>
                <li><a href="/komunalni-volby-2018/obvod-pardubice-i/">Pardubice I</a></li>
                <li><a href="/komunalni-volby-2018/obvod-pardubice-ii/">Pardubice II</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- <section class="o-section">
    <h2>Piráti v Pardubicích</h2>
    <p>Mnozí z vás si jistě všimli, že v Pardubicích zakotvila pirátská loď a nabírá posádku. Po úspěšných volbách do poslanecké sněmovny pociťují Piráti velký zájem ze strany veřejnosti. Rádi bychom tuto přízeň společnosti vrátili a v nadcházejících podzimních volbách vpluli do zastupitelstev měst a obvodů.</p>
    <p>Otevřenost je nejlepším lékem na korupci a plýtvání. To, že být transparentní, není nic těžkého, dokazujeme sami na sobě - už jen proto sami dobře víme, jak na to, a společně to dokážeme i Pardubicích.</p>
    <p>Chceme vědět, co vás pálí, a posouvat věci k lepšímu spolu s vámi. Máte-li zájem zapojit se do veřejného života, podílet se na našich akcích nebo jen být ve spojení s Piráty, budeme rádi, když nám o sobě <a href="/pripoj-se/">dáte vědět.</a><p>
</section> -->